.coachDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon {
    width: 128px;
    height: 128px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-grow: 1;
}

.coach {
    line-height: -1em;
    margin-top: 4px;
    margin-bottom: -8px;
}

.title {
    line-height: 1em;
    margin-bottom: 0px;
}

.titleContainer {
    line-height: .2em;
    padding: 0;
}

.quote {
    margin-top: 10px;
    font-size: 1.2em;
    font-style: italic;
    color: #ffaa00;
    text-align: left;
    white-space: normal; /* Ensure text wraps */
    word-wrap: break-word; /* Break long words */
}

.workoutDetails {
    width: 100%;
    margin-top: 20px;
}

.timer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}