@import '../../styles/theme.css';

.cardSlot {
    border: 1px solid #0074D9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #001f3f;
    color: #ffffff;
}

.cardDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide {
    flex: 2; /* Increased flex-grow value */
}

.rightSide {
    flex: 1; /* Default flex-grow value */
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topSide {
    margin-bottom: 10px;
}

.bottomSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bubbleContainer {
    display: flex;
    gap: 10px;
}

.bubble {
    padding: 1px 15px;
    border-radius: 15px;
    color: #000000;
}

.bubble1 {
    background-color: #FF4136; /* Red */
}

.bubble2 {
    background-color: #2ECC40; /* Green */
}

.bubble3 {
    background-color: #0074D9; /* Blue */
}