@import '../../styles/theme.css';

.cardSlot {
    border: 1px solid #0074D9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #001f3f;
    color: #ffffff;
    height: auto; /* Ensure it stretches with its content */
    width: 100%; /* Ensure it stretches with its content */
    display: grid;
    grid-gap: 0px;
}

.cardDetails h2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    line-height: 1.3em;
    padding: 0px;
    margin: 0px;
}

.cardDetails {
    display: grid;
    grid-template-areas: 
        "topLeft topRight"
        "bottomLeft bottomRight";
    grid-gap: 0px;
    line-height: 1em;
    height: 100%; /* Ensure it fills vertically */
    width: 100%; /* Ensure it fills horizontally */
}

.topLeft {
    grid-area: topLeft;
    height: 100%;
}

.topRight {
    grid-area: topRight;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 100%;
}

.bottomLeft {
    grid-area: bottomLeft;
    height: 100%;
}

.bottomRight {
    grid-area: bottomRight;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bubbleContainer1 {
    gap: 10px;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start; /* Align content to the bottom */
}

.bubble {
    border-radius: 15px;
    color: #000000;
}

.bubble1 {
    padding: 2px 15px;
}

.bubble2 {
    padding: 1px 15px;
    font-size: 0.8em;
    align-self: flex-end; /* Prevent stretching vertically */
}

.stats {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: right;
    align-self: right;
    text-align: right;
    gap: 10px;
}

.cardButton {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.5em;
    margin: 0px;
    padding: 12px 20px;
    border-radius: 25px;
    color: #ffffff;
    background: linear-gradient(135deg, #007BFF, #0056b3);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cardButton:hover {
    background: linear-gradient(135deg, #0056b3, #003f7f);
    transform: translateY(-2px);
}

.cardButton:active {
    background: linear-gradient(135deg, #003f7f, #002a5c);
    transform: translateY(0);
}