@import '../../styles/theme.css';

.pageContainer {
    padding: 16px 24px;
    background-color: var(--surface-base);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.contentContainer {
    display: flex;
    margin-top: 12px;
    flex: 1;
    overflow: hidden;
    gap: 12px;
}

.schedulesWindowContainer {
    flex: 2;
    padding: 0 8px;
    overflow: hidden;
}

.schedulesSidebarContainer {
    width: 26%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}
