@font-face {
    font-family: 'Aldrich';
    src: url('../assets/fonts/Aldrich-Regular.ttf') format('truetype');
}

:root {
    --primary-bg-color: #001f3f;
    --secondary-bg-color: #0074D9;
    --primary-text-color: #ffffff;
    --secondary-text-color: #00FFDD;
    --border-color: #0074D9;
    --padding: 10px;
    --border-radius: 5px;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'Aldrich', Arial, sans-serif;
    margin: 0;
}