@import '../../styles/theme.css';

.pageContainer {
    padding: var(--padding);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.nav {
    padding: var(--padding);
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.cardSelectorContainer {
    flex: 1;
    margin-top: var(--padding);
}

.contentContainer {
    display: flex;
    margin-top: var(--padding);
}

.trainingWindowContainer {
    flex: 2;
    margin-top: var(--padding);
}