@import '../../styles/theme.css';

.header {
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #000000; /* Change to black */
    justify-content: space-between;
    color: #ffffff; /* Ensure text is white */
}

.logo {
    height: 100px;
    margin-right: 10px;
}

.headerTitle {
    font-size: 3em; /* Double the font size */
}

.settingsButton {
    background-color: #0074D9;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 2em; /* Double the font size */
    font-family: Aldrich, sans-serif;
}

.headerContent {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
    padding: var(--padding);
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.navButton {
    background-color: #007BFF; /* Blue */
    color: #FFFFFF; /* White */
    border: 2px solid #0056b3; /* Darker blue for border */
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: Aldrich, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.navButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: #FFFFFF; /* White */
}

.active {
    background-color: #20c997; /* Teal */
    color: #000000; /* Black */
    font-weight: bold;
    border: 2px solid #198754; /* Darker teal for border */
}