@import '../../styles/theme.css';

.header {
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #000000; /* Change to black */
    justify-content: space-between;
    color: #ffffff; /* Ensure text is white */
}

.logo {
    height: 100px;
    margin-right: 10px;
}

.headerTitle {
    font-size: 3em; /* Double the font size */
}

.settingsButton {
    background-color: #0074D9;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 2em; /* Double the font size */
    font-family: Aldrich, sans-serif;
}

.headerContent {
    display: flex;
    align-items: center;
}