.button {
    background-color: #003366;
    color: #003366;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 0.8em;
}

.button:hover {
    background-color: #003366;
}

.timeLeft {
    font-size: 0.8em; /* Adjust the size as needed */
}