@import '../../styles/theme.css';

.sidebar {
    width: 60px;
    background-color: #001f3f;
    color: #ffffff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moduleButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: 10px 0;
}

.moduleIcon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}