.cardSelector {
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.module, .subModule, .cardDeck, .card {
    margin-bottom: 10px;
}

.module > input, .subModule > input, .cardDeck > input, .card > input {
    margin-right: 10px;
}

.subModules, .cardDecks, .cards {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #ddd;
}

.dropdownButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 2px 4px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

.dropdownButton:hover {
    background-color: #0056b3;
}