.difficultySettings {
    margin-top: 20px;
}

.difficultySettings label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.difficultySettings select {
    width: auto;
    padding: 8px;
    font-size: 1em;
}

.difficultySettings .description {
    margin-top: 10px;
    font-size: 0.9em;
    color: #cccccc;
}

.dropdown {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1rem;
}

.rangeInputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.rangeInput {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 0.5rem;
}

.rangeInput label {
    margin-right: 0.5rem;
}

.rangeInput input {
    width: 100%;
    max-width: 80px;
    text-align: center;
}

.additionalInfo {
    margin-top: 1em;
}

.militarySoldier, .athleteArchetype {
    margin-top: 0.5em;
}

.militarySoldier ul, .athleteArchetype ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.pft {
    margin-top: 1em;
}

.pft ul {
    list-style-type: disc;
    margin-left: 1.5em;
}
