.workoutScheduler {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workoutScheduler button {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.2em;
    margin: 10px;
    padding: 12px 20px;
    border-radius: 25px;
    color: #ffffff;
    background: linear-gradient(135deg, #007BFF, #0056b3);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}