.workoutCard {
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    word-wrap: break-word; /* Ensure content wraps */
}

.workoutCard:hover {
    transform: scale(1.02);
}

.workoutCard h3 {
    margin: 0 0 8px;
    font-size: 1.4em;
    color: #007BFF;
}

.workoutCard p {
    margin: 4px 0;
    font-size: 0.9em; /* Make paragraph text smaller */
    color: #333;
}