@import '../../styles/theme.css';

.workoutDetails {
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 8px;
    white-space: normal; /* Ensure text wraps */
    word-wrap: break-word; /* Break long words */
}

.left {
    flex: 1;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 8px;
    margin-top: 0px;
    padding: 0px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    gap: 8px;
}

.top {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.top h1 {
    margin: 2px;
    padding: 0px;
}

.bottom {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 0px;
}

.bottom p {
    margin: 0;
    padding: 0;
}

.noWorkout {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

button {
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
}

.subDetails {
    line-height: .5em;
}