@import '../../styles/theme.css';

.workoutDetails {
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 8px;
    white-space: normal; /* Ensure text wraps */
    word-wrap: break-word; /* Break long words */
}

.left {
    flex: 1;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 8px;
    margin-top: 0px;
    padding: 0px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 8px;
}

.top {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-top: -20px;
    padding-top: -20px;
    margin-bottom: -10px;
    padding-bottom: -10px;
}

.description {
    font-size: 1em;
    margin-top: -20px;
    margin-bottom: -20px;
    color:#CCCCCC;
}

.bottom {
    display: flex;
    flex-direction: row;
}

.noWorkout {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

.workoutDetailsButtonGroup {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 2px;
}

.workoutDetailsButton {
    font-family: 'Aldrich', sans-serif;
    font-size: 4em;
    margin: 2px;
    padding: 0;
    color: #000000;
    background: none;
    border-style: none;
    line-height: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

.workoutDetailsButton:hover {
    transform: translateY(-2px);
}

.workoutDetailsButton:active {
    transform: translateY(0);
}

.subDetails {
    line-height: .3em;
}