.workoutList {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

.noWorkouts {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}