@import '../../styles/theme.css';

.pageContainer {
    padding: var(--padding);
    padding-top: calc(var(--padding) + 60px);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    overflow: hidden;
    min-height: 100vh;
}

.nav {
    padding: var(--padding);
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.contentContainer {
    display: flex;
    margin-top: var(--padding);
}

.workoutsSidebarContainer {
    width: 25%;
    padding-left: var(--padding);
}

.workoutsWindowContainer {
    flex: 2;
    margin-top: var(--padding);
}